{{#partial "content"}}
    <div class="d-flex  justify-content-center m-5 p-5 opacity-75">
        <div class="card text-bg-dark">
            <div class="card-header"></div>
            <div class="card-body">
                <h5 class="card-title">ERROR: FULL SQUAD!</h5>
                <p class="card-text">The Squad you selected is already full. <br> You should check in on some of the other squads or first delete the user from the current group</p>
                <a href="/home" class="btn btn-light">CLOSE</a>
            </div>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}